:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hslhsl(0, 100%, 67%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients background */
    --light-slateblue: hsl(252, 100%, 67%);
    --light-royalblue: hsl(241, 81%, 54%);


    /* Gradient circle */
    --violet-blue:  hsla(256, 72%, 46%, 1);
    --persian-blue:  hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grayblue: hsl(224, 30%, 27%);

}

html {
    font-size: 18px;
}

