:root {
    /* Primary */
    --light-red: hsla(0, 100%, 67%, 0.1);
    --orangey-yellow: hsla(56, 100%, 67%, 0.1);
    --green-teal: hsla(166, 100%, 37%, 0.1);
    --cobalt-blue: hsla(234, 85%, 45%, 0.1);

    /* Gradients background */
    --light-slateblue: hsl(252, 100%, 67%);
    --light-royalblue: hsl(241, 81%, 54%);


    /* Gradient circle */
    --violet-blue:  hsla(256, 72%, 46%, 1);
    --persian-blue:  hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grayblue: hsl(224, 30%, 27%);

}

html {
    font-size: 18px;
}

body {
    padding: 1em;
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 20,83em;
    max-width: 80em;
    background-color: white;
}

main {
    display: flex;
    background-color: white;
    border-radius: 1em;
    box-shadow: 9px 18px 24px -1px hsl(221, 100%, 96%);

}


/* Your Result(Left Side) */

.left {
    background-image: linear-gradient(var(--light-slateblue),var(--light-royalblue));
    padding: 2em;
    border-radius: 1em;
    width: 15em;
    color: hsl(221, 100%, 96%);
    position: relative;
    z-index: 2;

}


.title{
    padding-bottom: 1em;
    color: hsla(221, 100%, 96%, 0.8);
    font-size: 1em;
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    height: 10em;
    
}

.circle h1 {
    font-size: 3.5em;
}

.info {
    color: hsla(221, 100%, 96%, 0.8);
    font-size: small;
}

/* Summary(Right side) */

.right {
    background-color: var(--white);
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    padding: 2em;
    position: relative;
    z-index: 1;


}

.title2 {
display: flex;
padding-left: .5em;
font-weight: 500;
padding-bottom: 1em;

}



.first {
    font-weight: bold
}

.second {
    color: gray;
}


.red,
.yellow,
.green,
.blue {
    display: flex;
    border: 1px;
    border-radius: .3125em;
    margin: 0.25em;
    padding: .3125em;
    font-size: medium;
}

.red {
    background-color: var(--light-red);
    
}

.red .L {
    color: hsl(0, 100%, 67%);
}

.yellow {
    background-color: var(--orangey-yellow);
}

.yellow .L {
   color: hsla(56, 100%, 67%);
}

.green {
    background-color: var(--green-teal);
}

.green .L {
    color: hsla(166, 100%, 37%);
}

.blue {
    background-color: var(--cobalt-blue);
}

.blue .L {
    color: hsl(234, 85%, 45%);
}

img {
    padding-right: 1.1em;
}

.L {
    padding-right: 0.5em;
}

/* button */

button {
    background-color: var(--dark-grayblue);
    color: white;
    font-size: small;
    margin-top: 2.5em;
    border-radius: 2em;
    padding: .5em;
    cursor: pointer;
}

button:hover {
    background-image: linear-gradient(var(--light-slateblue),var(--light-royalblue));
}

@media only screen and (max-width: 600px) {
    main, 
    .left,
    .right
     {
        display: flex;
        flex-direction: column;
    }

    .left {
       border-top-left-radius: 0; 
       border-top-right-radius: 0;
    }
  }
