:root {
    /* Primary */
    --light-red: hsl(0, 100%, 67%);
    --orangey-yellow: hslhsl(0, 100%, 67%);
    --green-teal: hsl(166, 100%, 37%);
    --cobalt-blue: hsl(234, 85%, 45%);

    /* Gradients background */
    --light-slateblue: hsl(252, 100%, 67%);
    --light-royalblue: hsl(241, 81%, 54%);


    /* Gradient circle */
    --violet-blue:  hsla(256, 72%, 46%, 1);
    --persian-blue:  hsla(241, 72%, 46%, 0);

    /* Neutral */
    --white: hsl(0, 0%, 100%);
    --pale-blue: hsl(221, 100%, 96%);
    --light-lavender: hsl(241, 100%, 89%);
    --dark-grayblue: hsl(224, 30%, 27%);

}

html {
    font-size: 18px;
}

body {
    padding: 1em;
    font-family: "Hanken Grotesk", sans-serif;
    text-align: center;
    display: flex;

    justify-content: center;
    min-width: 20,83em;
    max-width: 80em;
}

.left {
    background-image: linear-gradient(var(--light-slateblue),var(--light-royalblue));
    padding: 2em;
    border-radius: 1em;
    width: 15em;
    color: hsl(221, 100%, 96%);

}

.title .info {
    padding: 1em;
    color: hsla(221, 100%, 96%, 0.8);
}

.circle {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-image: linear-gradient(var(--violet-blue), var(--persian-blue));
    border-radius: 50%;
    height: 10em;
    
}

.info {
    color: hsla(221, 100%, 96%, 0.8);
}